body {
  background-color: black;
}
.intro-header {
  /* background: url('../assets/bg_image.jpg') no-repeat; */
  /* background-color: black; */
  /* background-size: 100%; */
  /* height: 100vh; */
}

.nav-links {
  text-align: right;
  position: absolute;
  top: 25px;
  right: 0;
}

.nav-links a {
  font-size: 20px;
  padding: 0px 25px;
  color: lightseagreen;
}

.intro-text h1 {
  color: lightseagreen;
  margin-bottom: 25px;
}

.intro-text {
  margin-top: 125px;
  margin-left: 25px;
  padding: 25px;
  max-width: 710px;
}

.intro-header-name {
  color: burlywood;
}

.fa-arrow-right {
  font-size: 30px;
}

/* Typewriter Effect  */
.typed-cursor{
  opacity: 1;
  animation: typedjsBlink 0.7s infinite;
  -webkit-animation: typedjsBlink 0.7s infinite;
  animation: typedjsBlink 0.7s infinite;
  }
  @keyframes typedjsBlink{
    50% { opacity: 0.0; }
  }
  @-webkit-keyframes typedjsBlink{
    0% { opacity: 1; }
    50% { opacity: 0.0; }
    100% { opacity: 1; }
  }
  .typed-fade-out{
    opacity: 0;
    transition: opacity .25s;
    -webkit-animation: 0;
    animation: 0;
  }
  /* End Typewriter Effect */
.skills-section {
  margin-top: 200px;
}

.skills-header {
  color: lightseagreen;
  letter-spacing: 2px;
  text-transform: uppercase;
  margin-top: 25px;
}

.skills-header h3 {
  display: inline-block;
  color: white;
}

.skills-heading h3{
  color: lightseagreen;
  padding-left: 15px;
}

.skill-list-item {
  display: inline-block;
}

.skill-list-item h3 {
  margin-bottom: 25px;
}

.skill-list-item ul {
  list-style-type: none;
  padding: 0;
}

ul.education-list {
  border: 2px solid lightseagreen;
  width: 200px;
  padding: 25px;
}


.education-list-nyu {
  font-size: 18px;
}

.projects-section {
  margin-top: 200px;
}

.projects-section h3 {
  color: lightseagreen;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.project-card {
  margin: 25px;
  background-color: black;
  color: lightblue;
  border: 2px solid lightblue;
  padding: 5px;
  cursor: pointer;
  min-height: 485px;
}

@media screen and (max-device-width: 766px) {
  .project-card {
    max-width: 50%;
    margin-left: 25%;
    margin-right: 25%;
  }
}

.card-img-top {
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
  height: 50%;
  width: 100%;
  min-height: 255px;
}

@media screen and (max-device-width: 766px) {
  .card-img-top {
    border-radius: 13%;
    width: 95%;
    margin-left: 2.5%;
  }
}

.card-title {
  text-align: center;
}

.card-body img {
  width: 30px;
  max-height: 30px;
  margin: 5px;
}

.card-text:last-child {
  padding-bottom: 15px;
}

@media screen and (max-device-width: 766px) {
  .skills-section{
    /* text-align: center; */
    max-width: 100%;
  }
  .skill-list-item {
    text-align: center;
  }
  ul.education-list {
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
  }
}

.collab-section {
  color: lightslategrey;
  text-align: center;
  margin-top: 200px;
}

.collab-section h2 {
  font-size: 36px;
}

.collab-para {
  max-width: 600px;
  font-size: 18px;
  margin-left: auto;
  margin-right: auto;
}

.collab-section button {
  background-color: lightslategrey;
  border: 1px solid lightslategrey;
  color: black;
  /* text-transform: uppercase; */
}

.emailMe {
  font-size: 50px;
  margin-bottom: 100px;
  color: lightslategrey;
}
